@font-face {
    font-family: 'bubblegumSerif';
    src: url('../fonts/BubblegumSans-Regular.ttf');
  }

html, body{
    background-color: #FFAC1C;
    font-family: 'bubblegumSerif';
}

main{
    position: relative;
    margin-top: 33vh;

}

.flex-container{
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


button, input[type=submit]{
	background: none;
    background-color: #c55000;
    width: 252px;
    height: 42px;

    border-radius: 28px;

	color: black;
	border: none;
	padding: 0;
	font: inherit;
    font-size: 36px;
	cursor: pointer;
}

h1{
    font-size: 64px;
    margin: 0;
}

label{
    font-size: 36px;
}

input[type="submit"]{
    margin-top: 52px;
}

input[type="text"], input[type="email"], input[type="password"]{
    width: 250px;
    height: 35px;
    font-family: 'bubblegumSerif';
    font-size: 24px;
}
